.container {
    width: 50%;
    margin: 0 auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-style: italic;
}
#cpp{
    border-radius: 10px;
    background-color: #cccccc;
    padding: 40px;
    margin: 50px;
}
#js{
    border-radius: 10px;
    background-color: #cccccc;
    padding: 40px;
    margin: 50px;
}
footer{
    text-align: center;
    
    font-style: italic;
    
}
.link{
    font-size: 25px;
}
a {
    text-decoration: none;
}