*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 23px;
}
a{
    text-decoration: none;
}
/*container*/
.container{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}
/*navigation*/
.nav-link{
    padding:2px 10px 2px 10px;  
}
.sign-in{
    border: 2px solid #CD6326;
}
.sign-in:hover{
background-color:#CD6326;
transition: 0.3s;
}
.sign-in:active{
    background: #8F5613;
    border: 2px solid #8F5613;
    transition: 0.3s;
}
/*logo*/
.logo{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-weight: 400;
}
.logo-n{
    text-transform: uppercase;
    padding: 15.73px;
}
/*header*/
.header{  
    width: 100%;
    height: 100vh;
    background-color: #02160b;
    background-image: url("../wildlife/assets/Rectangle.png") ;
    background-repeat: no-repeat;
  background-size: auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*survival*/
.survival{
    display: flex;
    width: 100%;
    max-width: 274px;
    height: 85vh;
    align-items: center; 
}
.header__survival{
font-size: 48px;
color:  #CD6326;
font-weight: 400;
}
.text__survival{

font-size: 18px;
    font-weight: 400;
    margin-bottom: 49px;
}
.btn-donate{
    background: #CD6326;
    padding:16px 42px 17px 42px;
}
.btn-donate:hover{
    background: #E39128;
    transition: 0.3s;
}
.btn-donate:active{
    background: #8F5613;
    transition: 0.3s;
}
/*latest-articles*/
.latest_articles{
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #cccccc;
}
.articles_header{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    
}
.latest_articles__header{
   color: #333333;
   font-weight: 400;
   font-size: 48px;
   line-height: 72px;
}
.latest_articles__subheader{
    color: #666666;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
/*slider*/
.articles__slider{
justify-content: center;
align-items: center;
display: flex;
margin: 15px;
}
.articles__slider__left-btn, .articles__slider__right-btn{
    margin: 50px;
}
.first, .second, .third{
    width: 300px;
    height: 360px;
    margin: 0 25px 0 25px;
}
.left-btn, .right-btn{
    width: 28px;
    height: 38.98px;
}